<div class="card">
  <div class="card-header">
    <h4>New Webinar</h4>
  </div>
  <div class="card-body">
    <%= form_with(model: webinar, local: true) do |form| %>
      <% if webinar.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(webinar.errors.count, "error") %> prohibited this webinar from being saved:</h2>

          <ul>
            <% webinar.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= form.label "Webinar Name:" %></br>
        <%= form.text_field :webinar_name %>
      </div>

      <div class="field form-group">
        <%= form.label "Webinar Description:" %></br>
        <%= form.text_area :description %>
      </div>

      <div class="field form-group">
        <%= form.label "Date and Time:"%></br>
        <%= form.datetime_select :date_and_time %>
      </div>


      <div class="field form-group">
        <%= form.label "Speaker(s):" %></br>
        <%= form.text_area :speaker %>
      </div>

      <div class="actions">
        <%= form.submit class:'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
