<!-- Team 12 -->
<!-- Modified on 4/27/23 -->

<h3>Registrants for the <%= @webinars.webinar_name %> Webinar</h3>


<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
       <th>State</th>
      <th>County</th>
      <th>State</th>
      <th>CLE ID</th>
      <th>Job</th>
      <th>Listserv</th>
      <th>Topics</th>
      <th>Paid</th>
      <th>Amount</th>
      <th>Deregistered?</th>
      <th colspan="100%"></th>

    </tr>
  </thead>

  <tbody>
    <% @webinars.registrants.each do | registrant | %>
      <tr>
        <td><%= registrant.first_name %></td>
        <td><%= registrant.last_name %></td>
        <td><%= registrant.email %></td>
        <td><%= registrant.state %></td>
        <td><%= registrant.county %></td>
<td><%= registrant.state %></td>
<td><%= registrant.cleID %></td>
<td><%= registrant.job %></td>
<td><%= registrant.listserv %></td>
<td><%= registrant.topics %></td>
<td><%= registrant.paid %></td>
<td><%= number_to_currency(registrant.amount) %></td>
<td><%= registrant.deregistered %></td>
<td><%= link_to 'Delete', registrant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Webinars', "/webinars", class:'btn btn-primary' %>

