<!-- Project name: Mapping Justice -->
<!-- Description: For our ACCR Collaborative Project we have created an interactive map of PA. The map is color coded by cases + death sentences and population. 
The user can hover over a county to view its statistics. Additionally, several counties can be clicked to generate charts-->
<!-- Filename: index.html.erb -->
<!-- Description: The file generates the view for the upload map data functionality. -->
<!-- Last modified on: 3/20/2024 -->

<div class="container" style= "padding bottom: 10px !important">
<br/>

<!-- Headers and directions -->
<h1 class = "text-center">County Map Data</h1>
<hr>
<% if can?(:access, :rails_admin) %>
  <h4 class="text-center">Please fill out information below in order to update the map. </h4> 
  <br>
  <h4 class="text-center">Upload your spreadsheet with new data here in order to update the map. </h4> 

  <br/>
  <div class="text-center">
  <!-- Rendering form partial for file upload -->
  <%= render 'form' %>
  </div>
  </div>
  <br>
<% end %>
<!-- To display flash notice and error messages -->
<% flash.each do |type, msg| %>
    <div style="font-weight:bold;text-align:center">
      <%= msg %>
    </div>
    <br>
<% end %>

<!-- To download copy of current data -->
<h5 class="text-center">Click <a href='downloadcsv'> here</a> to download the current data spreadsheet.</h5>

<br>
  <!-- Creates Search Bars & Search Button -->
  <h5 class="text-center">Search Counties</h5>
  <section class="search-form">
    <%= form_for :upload, method: :get do |f| %>
      <div class="input-group">
        <%= label_tag :countyName, nil, class: "sr-only" %>
        <%= text_field_tag :countyName, nil,
          placeholder: "County Name",
            class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :minPop, nil, class: "sr-only" %>
        <%= text_field_tag :minPop, nil,
          placeholder: "Min Population",
            class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :maxPop, nil, class: "sr-only" %>
        <%= text_field_tag :maxPop, nil,
          placeholder: "Max Population",
            class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :totalPend, nil, class: "sr-only" %>
        <%= text_field_tag :totalPend, nil,
          placeholder: "Total Pending Cases",
            class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :bPend, nil, class: "sr-only" %>
        <%= text_field_tag :bPend, nil,
          placeholder: "Pending Cases(Black)",
            class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :wPend, nil, class: "sr-only" %>
        <%= text_field_tag :wPend, nil,
          placeholder: "Pending Cases(White)",
            class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :oPend, nil, class: "sr-only" %>
        <%= text_field_tag :oPend, nil,
          placeholder: "Pending Cases(Other)",
            class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :totalCases, nil, class: "sr-only" %>
        <%= text_field_tag :totalCases, nil,
          placeholder: "Total Current Cases",
          class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :bCase, nil, class: "sr-only" %>
        <%= text_field_tag :bCase, nil,
          placeholder: "Current Cases(Black)",
            class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :wCase, nil, class: "sr-only" %>
        <%= text_field_tag :wCase, nil,
          placeholder: "Current Cases(White)",
            class: "form-control input" %>
      </div>
      <br>
      <div class="input-group">
        <%= label_tag :oCase, nil, class: "sr-only" %>
        <%= text_field_tag :oCase, nil,
          placeholder: "Current Cases(Other)",
            class: "form-control input" %>
      </div>

      <div class="input-group">
        <%= submit_tag "Search", class: "btn btn-primary btn" %>
      </div>

    <% end %>
  </section>

  <!-- Displays note if data is sorted -->
  <div class = "text-center" >
    <% if sort_column.present? && sort_direction.present? %>
      <% direction_text = sort_direction == "asc" ? "ascending order" : "descending order" %>
      <p>Note: Data is sorted in <%= direction_text %>!</p>
    <% else %>
      <p>Note: The following entries are unsorted. To sort your entries, please click on a column to sort by.</p>
    <% end %>
  </div>

  <!-- Displays table information -->
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col"><%= sortable "name", "County"%></th>
        <th scope="col" style="text-align: center"><%= sortable "population", "Population"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_cur_cases", "Total Pending Cases"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_cur_cases_b", "Pending (Black)"%></th> 
        <th scope="col" style="text-align: center"><%= sortable "num_cur_cases_w", "Pending (White)"%></th>    
        <th scope="col" style="text-align: center"><%= sortable "num_cur_cases_o", "Pending (Other)"%></th>          
        <th scope="col" style="text-align: center"><%= sortable "num_dr", "Total Current Death Sentence Cases"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_dr_b", "Current (Black)"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_dr_w", "Current (White)"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_dr_o", "Current (Other)"%></th>
        <!-- <th scope="col">Description</th> -->
        <% if can?(:access, :rails_admin) %>
        <th scope="col">Actions</th>
        <% end %>
      </tr>
    </thead>
    <% @counties.each do |county| %>
      <tr>
        <td scope="col"><%= county.name%></td>
        <td style="text-align: center" scope="col"><%= county.population%></td>
        <td style="text-align: center" scope="col"><%= county.num_cur_cases%></td>
        <td style="text-align: center" scope="col"><%= county.num_cur_cases_b%></td>
        <td style="text-align: center" scope="col"><%= county.num_cur_cases_w%></td>
        <td style="text-align: center" scope="col"><%= county.num_cur_cases_o%></td>
        <td style="text-align: center" scope="col"><%= county.num_dr%></td>
        <td style="text-align: center" scope="col"><%= county.num_dr_b%></td>
        <td style="text-align: center" scope="col"><%= county.num_dr_w%></td>
        <td style="text-align: center" scope="col"><%= county.num_dr_o%></td>
        <% if can?(:access, :rails_admin) %>
        <td>
          <%= link_to 'Edit ', upload_edit_path(county)%>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<br><br>

<!-- Reset button to refresh table -->
<div class="text-left">
  <%= button_tag "Reset", type: "button", class: "btn btn-secondary", onclick: "window.location.href = '#{upload_index_path}'" %>
</div>

<!-- Div for footer -->
<div id="footer">
    <hr>
    <a>© 2022 Copyright: Mapping Justice</a>
</div>