<!-- Project name: Mapping Justice -->
<!-- Description: For our ACCR Collaborative Project we have created an interactive map of PA. The map is color coded by cases + death sentences and population. 
The user can hover over a county to view its statistics. Additionally, several counties can be clicked to generate charts-->
<!-- Filename: index.html.erb -->
<!-- Description: The file generates the view for the upload map data functionality. -->
<!-- Last modified on: 4/7/2024 -->

<div class="container" style= "padding bottom: 10px !important">
<br/>

<!-- Headers and directions -->
<h1 class = "text-center">County Map Data</h1>
<hr>
<% if can?(:access, :rails_admin) %>
  <h4 class="text-center">Please fill out information below in order to update the map. </h4> 
  <br>
  <h4 class="text-center">Upload your spreadsheet with new data here in order to update the map. </h4> 

  <br/>
  <div class="text-center">
  <!-- Rendering form partial for file upload -->
  <%= render 'form' %>
  </div>
  </div>
  <br>
<% end %>
<!-- To display flash notice and error messages -->
<% flash.each do |type, msg| %>
    <div style="font-weight:bold;text-align:center">
      <%= msg %>
    </div>
    <br>
<% end %>

<!-- To download copy of current data -->
<h5 class="text-center">Click <a href='downloadcsv'> here</a> to download the current data spreadsheet.</h5>

<br>
  <!-- Creates Search Bars for Multi-search & Search Button -->
  <h5 class="text-center">Search Counties</h5>
  <section class="search-form">
    <%= form_for :upload, method: :get do |f| %>
      <div class="select-group">
        County: <%= label_tag :countyName, nil, class: "sr-only" %>
        <%= select_tag :countyName, options_for_select(@county_names, params[:countyName]), include_blank: true, include_blank: '-- Select County --', class: "form-control input" %>
      </div>
      <br>
      <div class="select-group">
          Population: 
          <%= label_tag :pop, nil, class: "sr-only" %>
          <%= select_tag :pop, options_for_select(@pop, params[:pop]), include_blank: true, include_blank: '-- Select Population --', class: "form-control input" %>
      </div>
      <div>
        <!--
          <%= label_tag :minpop, nil, class: "sr-only" %>
          <%= select_tag :minpop, options_for_select(@min_pop), include_blank: true, include_blank: '-- Select Min Population --', class: "form-control input" %>
          <%= label_tag :maxPop, nil, class: "sr-only" %>
          <%= select_tag :maxPop, options_for_select(@max_pop), include_blank: true, include_blank: '-- Select Max Population --', class: "form-control input" %>
        -->
      </div>
      <br>
      <div class="select-group">
        Total Pending Cases: 
        <%= label_tag :totalPend, nil, class: "sr-only" %>
        <%= select_tag :totalPend, options_for_select(@totalPend, params[:totalPend]), include_blank: true, include_blank: '-- Select Total Pending Cases --', class: "form-control input" %>
      </div>
      <br>
      <div class="select-group">
        Pending Cases(Black):
        <%= label_tag :bPend, nil, class: "sr-only" %>
        <%= select_tag :bPend, options_for_select(@bPend, params[:bPend]), include_blank: true, include_blank: '-- Select Pending Cases(Black) --', class: "form-control input" %>
      </div>
      <br>
      <div class="select-group">
        Pending Cases(White):
        <%= label_tag :wPend, nil, class: "sr-only" %>
        <%= select_tag :wPend, options_for_select(@wPend, params[:wPend]), include_blank: true, include_blank: '-- Select Pending Cases(White) --', class: "form-control input" %>
      </div>
      <br>
      <div class="select-group">
        Pending Cases(Other):
        <%= label_tag :oPend, nil, class: "sr-only" %>
        <%= select_tag :oPend, options_for_select(@oPend, params[:oPend]), include_blank: true, include_blank: '-- Select Pending Cases(Other) --', class: "form-control input" %>
      </div>
      <br>
      <div class="select-group">
        Total Current Cases:
        <%= label_tag :totalCases, nil, class: "sr-only" %>
        <%= select_tag :totalCases, options_for_select(@totalCur, params[:totalCases]), include_blank: true, include_blank: '-- Select Total Current Cases --', class: "form-control input" %>
      </div>
      <br>
      <div class="select-group">
        Current Cases(Black):
        <%= label_tag :bCase, nil, class: "sr-only" %>
        <%= select_tag :bCase, options_for_select(@bCase, params[:bCase]), include_blank: true, include_blank: '-- Select Current Cases(Black) --', class: "form-control input" %>
      </div>
      <br>
      <div class="select-group">
        Current Cases(White):
        <%= label_tag :wCase, nil, class: "sr-only" %>
        <%= select_tag :wCase, options_for_select(@wCase, params[:wCase]), include_blank: true, include_blank: '-- Select Current Cases(White) --', class: "form-control input" %>
      </div>
      <br>
      <div class="select-group">
        Current Cases(Other):
        <%= label_tag :oCase, nil, class: "sr-only" %>
        <%= select_tag :oCase, options_for_select(@oCase, params[:oCase]), include_blank: true, include_blank: '-- Select Current Cases(Other) --', class: "form-control input" %>
      </div>
      <br>
      <div class="select-group">
        <%= submit_tag "Search", class: "btn btn-primary btn" %>
      </div>
    <% end %>
  </section>
  <!-- Reset button to refresh table -->
  <div class="text-left">
    <%= button_tag "Reset", type: "button", class: "btn btn-secondary", onclick: "window.location.href = '#{upload_index_path}'" %>
  </div>

  <!-- Displays note if data is sorted -->
  <div class = "text-center" >
    <% if sort_column.present? && sort_direction.present? %>
      <% direction_text = sort_direction == "asc" ? "ascending order" : "descending order" %>
      <p>Note: Data is sorted in <%= direction_text %>!</p>
    <% else %>
      <p>Note: The following entries are unsorted. To sort your entries, please click on a column to sort by.</p>
    <% end %>
  </div>

  <!-- Displays table information -->
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" style="text-align: center"><%= sortable "name", "County"%></th>
        <th scope="col" style="text-align: center"><%= sortable "population", "Population"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_cur_cases", "Total Pending Cases"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_cur_cases_b", "Pending (Black)"%></th> 
        <th scope="col" style="text-align: center"><%= sortable "num_cur_cases_w", "Pending (White)"%></th>    
        <th scope="col" style="text-align: center"><%= sortable "num_cur_cases_o", "Pending (Other)"%></th>          
        <th scope="col" style="text-align: center"><%= sortable "num_dr", "Total Current Death Sentence Cases"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_dr_b", "Current (Black)"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_dr_w", "Current (White)"%></th>
        <th scope="col" style="text-align: center"><%= sortable "num_dr_o", "Current (Other)"%></th>
        <!-- <th scope="col">Description</th> -->
        <% if can?(:access, :rails_admin) %>
          <th scope="col">Actions</th>
        <% end %>
      </tr>
    </thead>
    <% @search_results.each_with_index do |county, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td style="text-align: center" scope="col"><%= county.name%></td>
        <td style="text-align: center" scope="col"><%= county.population%></td>
        <td style="text-align: center" scope="col"><%= county.num_cur_cases%></td>
        <td style="text-align: center" scope="col"><%= county.num_cur_cases_b%></td>
        <td style="text-align: center" scope="col"><%= county.num_cur_cases_w%></td>
        <td style="text-align: center" scope="col"><%= county.num_cur_cases_o%></td>
        <td style="text-align: center" scope="col"><%= county.num_dr%></td>
        <td style="text-align: center" scope="col"><%= county.num_dr_b%></td>
        <td style="text-align: center" scope="col"><%= county.num_dr_w%></td>
        <td style="text-align: center" scope="col"><%= county.num_dr_o%></td>
        <% if can?(:access, :rails_admin) %>
          <td>
            <%= link_to 'Edit ', upload_edit_path(county)%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<br><br>

<!-- Div for footer -->
<div id="footer">
    <hr>
    <a>© 2022 Copyright: Mapping Justice</a>
</div>